<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @image_coment.user_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @image_coment.image_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @image_coment.comment %>
</p>

<%= link_to 'Edit', edit_image_coment_path(@image_coment) %> |
<%= link_to 'Back', image_coments_path %>
