<%= form_for(@new_image, {multipart: true}) do |f| %>
  <% if @new_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @new_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
 
  <div class="form-group">
    <%= f.label :describle %><br>
    <%= f.text_field :describle, class: "form-control"  %>
  </div>
   <div class="form-group">
    <%= f.label :place %><br>
    <%= f.select :place,  options_for_select([['Mien Bac','mien_bac'],['Mien Trung','mien_trung'],['Mien Nam','mien_nam']])%>
    </div>
  <div class="form-group">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>